name: CI

on: [push]

jobs:
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
        registry-url: https://npm.pkg.github.com/
        scope: "@sap"
    - run: npm ci
      env:
        NODE_AUTH_TOKEN: ${{ secrets.PAT }}
    - run: npm test

  dist-is-up-to-date:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
        registry-url: https://npm.pkg.github.com/
        scope: "@sap"
    - run: npm ci
      env:
        NODE_AUTH_TOKEN: ${{ secrets.PAT }}
    - run: npm run prepare
    - run: git diff --name-only --exit-code

  integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run action to show Project Piper version
      uses: ./
      with:
        command: version
        flags: "-v --noTelemetry"
    - name: Run action to show Project Piper version using latest master
      uses: ./
      with:
        command: version
        flags: "-v --noTelemetry"
        piper-version: latest
    - name: Run action to show Project Piper version using v1.13.0
      uses: ./
      with:
        command: version
        flags: "-v --noTelemetry"
        piper-version: v1.13.0
