name: Publish Log4brains

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docs/adr/**'
      - '.github/workflows/publish-log4brains.yml'
      - '.log4brains.yml'
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false # required by JamesIves/github-pages-deploy-action
          fetch-depth: 0 # required by Log4brains to work correctly (needs the whole Git history)
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install and Build Log4brains
        run: |
          npm install --global log4brains
          log4brains build --basePath /${GITHUB_REPOSITORY}
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: .log4brains/out
          TARGET_FOLDER: log4brains
