name: "Markdown"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    # paths:
    #   - '**/*.md'

jobs:
  markdownlint:
    name: 'Lint'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Markdown Linting
        uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: .
